<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="http://cdn.onlinewebfonts.com/svg/img_503358.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Document</title>
</head>
<style>
    #imgHover{
    background-color: rgba(0, 0, 0, 0.548);
    opacity: 0;

    }


</style>

<body>
    <div id="app">
        <!-- ======================================= Navbar ====================================== -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="index.html">Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Popular </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="upcoming.html">UPCOMING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="trending.html">Trending</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model='search'>
                    <a href="searchMovies.html" class="btn btn-secondary my-2 my-sm-0" type="submit" @click="searchMovie">Search</a>
                </form>
            </div>
        </nav>

        <!-- ============================================================================================== -->

        <div class="container">

            <div class="row">
                <div v-for="data in data" v-if="data.poster_path == null"></div>

                <div class="col-md-3" v-else>
                    <a href="detailsMovies.html" @click="MoviesId(data.id)">
                        <div class="card mt-5">
                            <img v-bind:src="'http://image.tmdb.org/t/p/w500/'+data.poster_path" alt="" class="mx-auto d-block"
                                style="width:100%; height: 100%;">
                            <div style="
                                position:absolute;width: 100%; ;height: 100%; 
                                z-index: 100"
                                id="imgHover" class="2">
                                <h5 class=" text-center text-white" id="title" style="margin-top:60%">{{data.title}}</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>


    new Vue({
        el: "#app",
        data() {
            return {
                data: null,
                search: null




            }

        },
        mounted() {
            axios
                .get('https://api.themoviedb.org/3/search/movie?api_key=be4808a7b6d2d8684012bc817583647d&language=en-US&page=1&include_adult=false&query=' + localStorage.search)
                .then(response => (this.data = response.data.results))

        },
        methods: {
            MoviesId(id) {

                // console.log(id);
                localStorage.id = id
                // console.log(localStorage.id);


            },
            searchMovie() {
                localStorage.search = this.search
                // console.log(localStorage.search);
            }

        },

    })




</script>

</html>